<!-- project/templates/project/base.html -->


{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{%  static 'project_styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>Ink & Impressions</title>
    </head>

    <body>
        <header>                
            <h1 style="font-family: Pacifico;">Ink & Impressions</h1>
            <nav>
                <ul>
                    <!-- URLs that do not depend on authentication -->
                    <li><a href="{% url 'show_all_books' %}">All Books</a></li>
                    <li><a href="{% url 'show_all_authors' %}">All Authors</a></li>

                    <!-- URLs that show up depending on login -->
                    {% if request.user.is_authenticated %}

                        {% block extra_nav_links %}
                        <!-- Block for additional nav links on specific pages -->
                        {% endblock %}
                        <li><a href="{% url 'show_all_users' %}">All Users</a></li>
                        <li><a href="{% url 'friend_requests' %}">Friend Requests</a></li>
                        <li>
                            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="submit" value="Logout" class="logout-link">
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'create_user_profile' %}">Create Profile</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}


                    <li>
                        <!-- A language selection feature that is used to fetch books in different languages -->
                        <div class="language-selection">
                            <label for="language-select" class="language-label">Select Language:</label>
                            <form method="post" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                <select id="language-select" name="language" onchange="this.form.submit()">
                                    <option value="all" {% if request.session.language == 'all' or not request.session.language %}selected{% endif %}>All Books</option>
                                    <option value="en" {% if request.session.language == 'en' %}selected{% endif %}>English</option>
                                    <option value="mn" {% if request.session.language == 'mn' %}selected{% endif %}>Mongolian</option>
                                    <option value="fr" {% if request.session.language == 'fr' %}selected{% endif %}>French</option>
                                    <option value="de" {% if request.session.language == 'de' %}selected{% endif %}>German</option>
                                    <option value="es" {% if request.session.language == 'es' %}selected{% endif %}>Spanish</option>
                                    <option value="ru" {% if request.session.language == 'ru' %}selected{% endif %}>Russian</option>
                                    <option value="id" {% if request.session.language == 'id' %}selected{% endif %}>Indonesian</option>
                                    <option value="it" {% if request.session.language == 'it' %}selected{% endif %}>Italian</option>
                                    <option value="zh-TW" {% if request.session.language == 'zh-TW' %}selected{% endif %}>Traditional Chinese (Taiwan)</option>
                                    <option value="zh-CN" {% if request.session.language == 'zh-CN' %}selected{% endif %}>Simplified Chinese (China)</option>
                                </select>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        
        <main>
            {% block content %}
            <!-- put the interesting (specific stuff) here -->
            {% endblock %}
        </main>

        {% block extra_js %}
        <!-- Block for including additional JavaScript -->
        <!-- This is mainly used to show the star rating for the book review -->
        {% endblock %}
        
    </body>
</html>

