<!-- project/tmeplates/project/logged_out.html -->

{% extends 'project/base.html' %}

{% block content %}
    <div class="logout-container">

        <!-- BYE DOG GIF -->
        <div class="bye-gif">
            <img src="/static/images/bye.gif" alt="bye">
        </div>

        <h3>You have been logged out.</h3>
        
        <p>
            <a href="{% url 'login' %}">Log in again</a> or
            <a href="{% url 'show_all_books' %}">Go to All Books</a>.
        </p>

    </div>
{% endblock %}