<!-- project/templates/project/login.html -->

{% extends 'project/base.html' %}

{% block content %}
<div class="login-page">
    <!-- HI CAT GIF  -->
    <div class="hi-gif-container">
        <img src="/static/images/hi.gif" alt="hi_gif" class="jumping-gif">
    </div>

    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% else %}
                <input type="hidden" name="next" value="{% url 'show_all_books' %}">
            {% endif %}

            <button type="submit">Login</button>
        </form>
        <hr>
        <p>Don't have an account? <br>
            <a href="{% url 'create_user_profile' %}">Create an account here</a>.
        </p>
    </div>  
</div>
    
{% endblock %}