<!-- project/templates/project/show_all_books.html -->

{% extends 'project/base.html' %}

<!-- Navigation Bar -->

{% block extra_nav_links %}
    <!-- Link to the profile of the user that is logged in -->
    <li><a href="{% url 'show_user_profile' user_profile.pk %}">My Profile</a></li>

{% endblock %}


<!-- Body -->

{% block content %}
    <div class="genre-section">
        <h2>Books by Genre</h2>

        {% for genre, genre_books in genre_groups.items %}

        <!-- FROG GIF! -->
        {% if forloop.first %}
            <!-- Add the Frog GIF for the first genre -->
            <div class="frog-container">
                <img src="/static/images/frog.gif" alt="Frog">
            </div>
        {% endif %}
        
        <div class="book-grid-container">
            <h3>{{ genre }}</h3>
            <div class="book-grid">
                {% for book in genre_books %}
                    <div class="book-card">
                        <a href="{% url 'show_book' book.pk %}">
                        <div class="book-cover-image">
                            {% if book.book_cover_image %}
                                <img src="{{ book.book_cover_image }}" alt="{{ book.book_title }}'s cover image">
                            {% else %}
                                <img src="/static/images/placeholder.png" alt="No Cover Image">
                            {% endif %}
                        </div>
                        <div class="book-info">
                            <h4>{{ book.book_title }}</h4>
                            <p>by {{ book.book_author }}</p>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}