<!-- project/templates/project/show_all_authors.html -->

{% extends 'project/base.html' %}

<!-- Navigation Bar -->

{% block extra_nav_links %}
    <!-- Link to the profile of the user that is logged in -->
    {% if user_profile %}
        <li><a href="{% url 'show_user_profile' user_profile.pk %}">My Profile</a></li>
    {% endif %}
    
{% endblock %}


<!-- Body -->

{% block content %}

    <!-- Search Bar -->
    <div class="search-container">

        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search by Author" value="" class="search-bar">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <!-- All Authors -->
    <div class="authors-container">
        
        <h3 class="section-title">All Authors</h3>

        <div class="authors-grid">
            {% for author in authors %}
                    <div class="author-card">
                        <a href="{% url 'show_author' author.pk %}">
                            <p>{{ author.author_first_name }} {{ author.author_last_name }}</p>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}