<!-- blog/template/blog/show_all.html -->

{% extends 'blog/base.html' %}

{% block content %}
<h1>Showing all articles</h1>

<!-- print out the context variable called articles -->
<!-- {{articles}} -->

<main class="grid-container"> 
    {% for a in articles %}
    <article>
        <a href="{% url 'article' a.pk  %}"> <!-- Use object -->
            <img src="{{a.image_file.url}}" alt="{{a.image_file.url}}">
        </a>
        <div>
            <h2>{{a.title}}</h2>
            <h3>by {{a.author}} at {{a.published}}</h3>
            <p>
                {{a.text}}
            </p>
        </div>
    </article>
       
    {% endfor%}
</main>   

{% endblock %}
   




