<!-- mini_fb/templates/mini_fb/base.html 
This is the base page from which all  other pages 
will inherit.
Put common code here, specific code in separate pages -->
{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet"></head>
        <link rel="stylesheet" href="{%  static 'mini_fb_styles.css' %}">

        <title>Mini Facebook</title>
    </head>

    <body>
        <header>                
            <h1>Mini Facebook</h1>
            <nav>
                <ul>
                    <!-- URLs that do not depend on authentication -->
                    <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>

                    <!-- URLs that show up depending on login -->

                    {% block extra_nav_links %}
                    <!-- Block for additional nav links on specific pages -->
                    {% endblock %}

                    {% if request.user.is_authenticated %}
                        <li>
                            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="submit" value="Logout" class="logout-link">
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}

                    
                    
                </ul>
                <p>
                    {% if request.user.is_authenticated %}
                        Logged in as {{ request.user }}
                    {% else %}
                        Not logged in.
                    {% endif %}
                </p>

            </nav>
        </header>
        
        <main>
            {% block content %}
            <!-- put the interesting (specific stuff) here -->
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2024 Mini Facebook by Tsagaandari Battugs</p>
        </footer>
    </body>
</html>

