<!-- mini_fb/templates/mini_fb/show_profile.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}
    <a href="{% url 'show_all_profiles' %}" class="back-button">← Back to All Profiles</a>

    <div class="profile-detail">
        <div class="profile-image">
            {% if profile.profile_image %}
                <img src="{{ profile.profile_image }}" alt="{{ profile.first_name }}'s profile image">
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
        <div class="profile-info">
            <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
            <table>
                <tr>
                    <td><strong>City:</strong></td>
                    <td>{{ profile.city }}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{ profile.email }}</td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="profile-button-container">
        <a href="{% url 'create_status' profile.pk %}" class="form-button" style="margin: 0 10px;">Post a Status Message</a>
        <a href="{% url 'update_profile' profile.pk %}" class="form-button" style="margin: 0 10px;">Update Profile</a>
    </div>

    <!-- Showing the friends list -->
    <h2 style="text-align: left; margin-top: 20px;">{{ profile.first_name }}'s friends</h2> 
    <div class="friends-list">
        {% for friend in profile.get_friends %}
            <div class="profile-card">
                <a href="{% url 'show_profile' friend.pk %}">
                    <div class="profile-image">
                        {% if friend.profile_image %}
                            <img src="{{ friend.profile_image }}" alt="{{ friend.first_name }}'s profile picture">
                        {% else %}
                            No image
                        {% endif %}
                    </div>
                    <div class="profile-info">
                        <h3>{{ friend.first_name }} {{ friend.last_name }}</h3>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>{{ profile.first_name }} has no friends yet.</p>
        {% endfor %}
    </div>
    
    
    <div class="status-messages">
        <h3><u>Status Messages</u></h3>

        {% if profile.get_status_messages %}
            {% for s in profile.get_status_messages %}
                <div class="status-message">
                    <p>{{ s.message }}</p>
                    {% if s.get_images %}
                        {% for image in s.get_images %}
                            <img src="{{image.image.url}}" alt="image.image.url" style="max-width: 200px; max-height: 200px;">
                        {% endfor %}
                    {% endif %}
                    <p><strong>{{ s.timestamp|date:"M d, Y P" }}</strong></p>
                    <a href="{% url 'update_status' s.pk %}" class='form-button' style="font-size: 12px;padding: 5px 10px;">Update Status</a>
                    <a href="{% url 'delete_status' s.pk %}" class='form-button' style="font-size: 12px;padding: 5px 10px;">Delete</a>

                    
                </div>  

                
            {% endfor %}
        {% else %}
            <div>
                <p>No status messages available.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

