<!-- mini_fb/templates/mini_fb/update_profile_form.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
    <div class="form-container">
        <h2>Update {{ profile.first_name }}'s Profile</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="form-button" name="Update Profile" value="Update Profile">
        </form>
        <form method="GET" action="{% url 'show_profile' profile.pk %}">
            <input type="submit" class="form-button" name="Cancel" value="Cancel">
        </form>
    </div>
{% endblock %}
